body {
  background-color: #ffe75e;
}
h1 {
  color: #3797a4;
}
h3 {
  color: #3797a4;
}

hr {
  background-color: #ffe75e;
  border-style: none;
  border-top-style: dotted;
  border-color: #f37121;
  border-width: 5px;
  width: 5%

}
